.post-creator {
    max-width: 1000px;
    min-width:100px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.post-creator h1 {
    text-align: center;
}

.post-creator form {
    display: flex;
    flex-direction: column;
}

.post-creator input[type="text"],
.post-creator textarea,
.post-creator input[type="file"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.post-creator .tags {
    margin: 10px 0;
}

.post-creator button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.post-creator button:hover {
    background-color: #0056b3;
}

.textAr{
    height: 200px;
}
.image-upload-container {
    margin-bottom: 15px;
}
.image-preview {
    margin-top: 10px;
    max-width: 300px;
}
.image-preview img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.quill-editor {
    margin-bottom: 20px;
    background: white;
}

.ql-editor {
    min-height: 300px;
    font-size: 16px;
    line-height: 1.6;
}

.ql-toolbar {
    border-radius: 4px 4px 0 0;
}

.ql-container {
    border-radius: 0 0 4px 4px;
}



.tags-input-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
}
.tags-wrapper{
    display: flex;
}

.tag-item {
    background: #f0f0f0;
    padding: 3px 8px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.tag-remove {
    border: none;
    background: none;
    cursor: pointer;
    color: #666;
    padding: 0;
    line-height: 1;
}

.tag-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    min-width: 150px;
}

.tag-add-button {
    background: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

.tag-add-button:hover {
    background: #0056b3;
}

.quill-editor img {
    max-height: 200px; /* Максимальная высота картинки */
    width: auto;        /* Автоматическая ширина для сохранения пропорций */
    height: auto;       /* Автоматическая высота для сохранения пропорций */
  }